In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('desafio1.csv')
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [20]:
mode = df.groupby('estado_residencia')['pontuacao_credito'].apply(lambda x: x.mode())
median = df.groupby('estado_residencia')['pontuacao_credito'].median()
mean = df.groupby('estado_residencia')['pontuacao_credito'].mean()
std = df.groupby('estado_residencia')['pontuacao_credito'].std()

In [36]:
std

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [47]:
resp = {"SC": {"moda": mode[0], "mediana": median[2], "media": mean[2], "desvio_padrao": std[2]},
        "RS": {"moda": mode[1], "mediana": median[1], "media": mean[1], "desvio_padrao": std[1]},
        "PR": {"moda": mode[2], "mediana": median[0], "media": mean[0], "desvio_padrao": std[0]}}
resp

{'SC': {'moda': 850,
  'mediana': 653,
  'media': 649.5376527422563,
  'desvio_padrao': 97.23349279343314},
 'RS': {'moda': 850,
  'mediana': 650,
  'media': 651.1051428571428,
  'desvio_padrao': 95.1365984138358},
 'PR': {'moda': 850,
  'mediana': 650,
  'media': 648.9612940496822,
  'desvio_padrao': 98.60718591309755}}

In [39]:
df_resp = pd.DataFrame(resp)
df_resp

                       SC          RS          PR
moda           850.000000  850.000000  850.000000
mediana        653.000000  650.000000  650.000000
media          649.537653  651.105143  648.961294
desvio_padrao   97.233493   95.136598   98.607186

In [46]:
import json
sub = json.dumps(resp)

TypeError: Object of type int64 is not JSON serializable